---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://media.base44.com/images/public/69c11d14bba13990f133d6d0/7170738c9_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />

    <title>Valu Kraft</title>
    <meta name="description" content="A boutique studio crafting personalized stationery, invitations, and handmade paper treasures to turn your special moments into tangible art." />
    <meta property="og:title" content="Valu Kraft" />
    <meta property="og:description" content="A boutique studio crafting personalized stationery, invitations, and handmade paper treasures to turn your special moments into tangible art." />
    <meta property="og:image" content="https://media.base44.com/images/public/69c11d14bba13990f133d6d0/7170738c9_logo.png/v1/fill/w_1200,h_630/7170738c9_logo.png" />
    <meta property="og:url" content="https://valu-craft-boutique.base44.app" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Valu Kraft" />
    <meta name="twitter:title" content="Valu Kraft" />
    <meta name="twitter:description" content="A boutique studio crafting personalized stationery, invitations, and handmade paper treasures to turn your special moments into tangible art." />
    <meta name="twitter:image" content="https://media.base44.com/images/public/69c11d14bba13990f133d6d0/7170738c9_logo.png/v1/fill/w_1200,h_630/7170738c9_logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://valu-craft-boutique.base44.app" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Valu Kraft" />
    <link rel="canonical" href="https://valu-craft-boutique.base44.app" />

    <link rel="stylesheet" href="/assets/index--L5SMwUw.css" crossorigin="" />
    <script is:inline type="module" src="/assets/index-DEgNbQEQ.js" crossorigin=""></script>
    <script is:inline async data-app-id="69c11d14bba13990f133d6d0" data-platform-url="https://app.base44.com" src="/static/js/badge.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
