---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/media/7170738c9_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />

    <title>Valu Kraft</title>
    <meta name="description" content="Creaciones artesanales personalizadas para tus momentos más especiales." />
    <meta property="og:title" content="Valu Kraft" />
    <meta property="og:description" content="Creaciones artesanales personalizadas para tus momentos más especiales." />
    <meta property="og:image" content="/media/7170738c9_logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Valu Kraft" />
    <meta name="twitter:title" content="Valu Kraft" />
    <meta name="twitter:description" content="Creaciones artesanales personalizadas para tus momentos más especiales." />
    <meta name="twitter:image" content="/media/7170738c9_logo.png" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="/assets/index--L5SMwUw.css" crossorigin="" />
    <script is:inline type="module" src="/assets/index-DEgNbQEQ.js" crossorigin=""></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
